@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
@keyframes done {
    70% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

html {
    font-family: BMJUA
}
body {
  text-align: center;
  min-width: 550px;
}
#title-video {
  margin-top: 40px;
  opacity: 0.85;
}
#title {
  position: relative;
  top: -80px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 10px #f40
}
#title-name {
  color: #F299B7;
  text-shadow: 1px 1px 10px darkblue;
}
#buttons {
  position: relative;
  top: -60px;
}
.btn-img {
  background:url("../img/img_main.png") no-repeat;
}
.bingo {
  width: 100px;
  height: 100px;
}
.lotto {
  width: 100px;
  height: 100px;
  background-position: -100px;
}
.afreecatv {
  width: 100px;
  height: 100px;
  background-position: -200px;
}
.youtube {
  width: 100px;
  height: 100px;
  background-position: -400px;
}
.instar {
  width: 100px;
  height: 100px;
  background-position: -300px;
}
#span-bingo:hover:after {
  top: 30%;
  left: 28%;
}
#span-lotto:hover:after {
  top: 30%;
  left: 28%;
}
#span-afreecatv:hover:after {
  top: 30%;
  left: 23.5%;
}
#span-youtube:hover:after {
  top: 30%;
  left: 32.5%;
}
#span-instar:hover:after {
  top: 30%;
  left: 25%;
}
footer {
  width: 99%;
  position: relative;
  bottom: 0px;
  margin: 180px 0 0 0;
  color: #666;
  font-size: 12px;
  font-family: tahoma;
  text-align: center;
}
