.setting {
  position: fixed;
  top: 0;
  right: 0;
}
#toggle { 
  display: none;
}
#set-img {
  width: 30px;
  height: 33px;
  -webkit-filter: grayscale(100%);
  filter: gray;
}
#set-img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}
.label {
   position: fixed;
   right: 0px;
   margin-right: 5px;
   z-index: 1;
   cursor: pointer;
   transform: translate3d(0, 0, 0);
   transition: transform .4s;
}
#toggle:checked ~ .slide-menu {
  transform: translate3d(0, 0, 0);
}
#toggle:checked ~ .slide-menu li {
   width: 100%;
}
#toggle:checked ~ .label {
   transform: translate3d(-265px, 0, 0) rotate(360deg);
}
.slide-menu {
  font-size: 16px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 250px;
  color: #ddd;
  right: 0;
  transition: all .4s;
  z-index: 2;
  transform: translate3d(260px, 0, 0);
  padding: 7px 5px;
}
