@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
@keyframes done {
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
html {
  font-family: BMJUA;
}
body {
  min-width: 550px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 35px;
  font-weight: bold;
}
h3 {
  font-family: BMJUA;
  font-size: 38px;
  padding: .35rem;
  margin: 0;
  border: 0;
  outline: 0;
  background: 0;
}
button:focus {
  outline: none;
}
div[contenteditable=true]:focus {
  outline: #2196F3 solid 1px;
}
#bingo-start {
  display: inline-block;
  text-align: center;
}
.bingo {
  width: 500px;
  height: 500px;
  position: relative;
  top: -10px;
  text-align: center;
}
.bingo:after {
  width: 500px;
  height: 500px;
  z-index: -1;
  position: absolute;
  margin-top: 53px;
  left: 0;
  top: 0;
  content: "";
  background: url("https://stimg.afreecatv.com/LOGO/bo/bogong/bogong.jpg");
  background-size: 500px 500px;
  opacity: 0.5;
}
.bingo.new {
  width: 500px;
  height: 500px;
  position: relative;
  top: -10px;
  text-align: center;
}
.bingo.new:after {
  width: 500px;
  height: 500px;
  z-index: -1;
  position: absolute;
  margin-top: 53px;
  left: 0;
  top: 0;
  content: "";
}
.bingo-table {
  width: 500px;
  height: 500px;
  margin: 0px;
  table-layout: fixed;
  border-spacing: 0px;
  border: 3px solid;
}
.bingo-table tbody {
}
.bingo-table td {
  border: 1px solid #808080;
  min-height: 95px;
  white-space: nowrap;
}
.bingo-number {
  overflow: hidden;
  min-height: 54px;
}
.bingo-table td div[contenteditable=false]:hover, .bingo-table td div[contenteditable=true]:focus {
  color: #F588AD;
}
#buttons {
  width: 500px;
  height: 110px;
  display: inline-block;
  text-align: center;
}
#button-group1 {
  width: 58%;
  height: 80px;
  float: left;
  margin-top: 5px;
}
.label-bingo-size {
  display: block;
  top: 10px;
  font-family: 'Single Day', cursive;
  font-weight: bold;
  font-size: 32px;
}
#amount {
  margin-top: 8px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  ime-mode: disabled;
}
.plus-minus {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 4px 10px;
  font-family: BMJUA;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid;
  background-color: #FFFF00;
}
.plus-minus:enabled:hover {
  background-color: #F0D264;
  cursor: pointer;
}
#plus-button {
  z-index: 1;
  right: 9px;
}
#minus-button {
  z-index: 1;
  left: 9px;
}
#button-group1-bottom {
  top: 45px;
  left: 15px;
}
.blanks {
  padding: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
}
.blanks span {
  width: 70px;
}
.blanks input[type="radio"] {
  display: none;
}
.blanks input[type="radio"] + span {
  display: inline-block;
  position: relative;
  background: none;
  border: 2px solid #dfdfdf;    
  padding: 0px 8px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
}
.blanks input[type="radio"]:checked + span {
  z-index: 1;
  border: 3px solid skyblue;
  background: skyblue;
  color: #fff;
}
#blank3 + span {
  left: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#blank5 + span {
  right: 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#blank8 + span {
  top: 8px;
  left: 4px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 115px;
}
#blank10 + span {
  top: 8px;
  right: 4px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 115px;
}
#button-group2 {
  width: 40%;
  float: right;
  margin-top: 10px;
  font-family: 'Single Day', cursive;
  font-size: 30px;
}
.label1 {
  position: relative;
  top: -10px;
}
.label2 {
  position: relative;
  top: -6px;
}
#random-button, #delete-button {
  font-family: 'Single Day', cursive;
  font-size: 20px;
  width: 90px;
  height: 38px;
  position: relative;
  top: -10px;
  font-weight: bold;
  cursor: pointer;
  border: 0.1px solid #AAA;
  background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
#random-button:enabled:hover, #delete-button:enabled:hover {
  border: 1px solid #2196F3;
  color: #2196F3;
}
.game-start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
  margin-top: 20px;
  border: 2px solid gray;
  background-color: rgba(0,0,0,0);
  color: gray;
  padding: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 30px;
  cursor: pointer;
}
.game-start:hover {
  color: white;
  border: 2px solid #2196F3;
  background-color: #2196F3;
  font-size: 35px;
}
#score {
  margin-top: 15px;
  font-weight: normal;
}
#start-img {
  position: absolute;
  left: -40px;
  top: 130px;
  display: none;
}
.check-img {
  width: 100px;
  height: 100px;
  background:url("../img/o.png") no-repeat;
  cursor: pointer;
}
.input-file [type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.input-file .file-label {
  display: inline-block;
  min-width: 53px;
  line-height: 28px;
  padding: 1px 10px;
  border-radius: 6px;
  font-size: 13px;
  background-color: #AAC3DC;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.file-label:hover {
  background-color: #2196F3;
}
.buttons-img {
  float: left;
  width: 50%;
}
#share-button {
  min-width: 53px;
  line-height: 28px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 13px;
  font-weight: bold;
  padding: 1px 18px;
  background-color: #AAC3DC;

  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  outline: 0;
}
#share-button:hover {
  background-color: #FF760E;
}
.toast-message {
  font-size: 18px;
}
.toast-title {
  font-size: 22px;
}
.img-box {
  width: 100px;
  height: 100px;
  background:url("../img/box.png") no-repeat;
}
.img-icon {
  background:url("../../img/img_icon.png") no-repeat;
}
.right-tab {
  position: fixed;
  top: 0px;
  right: 0;
}
.tab-icons {
  height: 65px;
}
[data-tooltip-text] {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
[data-tooltip-text]:hover:after {
  top: 45px;
  left: -24px;
  padding: 5px 12px;
  min-width: 30px;
  font-size: 12px;
}
.span-triangle:hover:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 44px;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
#span-set:hover:before {
  top: 36px;
  left: 4px;
}
#span-set:hover:after {
  content: "설정";
  padding: 2px 8px;
}
#notice {
  position: relative;
  width: 42px;
  height: 34px;
  right: 0px;
  margin: 4px;
  background-position: -31px 0px;
}
#notice:hover {
  background-position: -31px -34px;
  cursor: pointer;
}
#span-notice:hover:before {
  top: 31px;
  left: 8px;
}
#span-notice:hover:after {
  content: "공지";
  top: 40px;
  left: -20px;
  padding: 2px 8px;
}
#span-img:hover:after {
  content: "클릭하면 이미지를 변경합니다";
  top: 35px;
  left: 13px;
  width: 164px;
}
#span-share:hover:after {
  content: "클릭하면 주소를 복사합니다";
  top: 35px;
  left: -107px;
  width: 152px;
}
#span-dup:hover:after {
  content: "중복된 번호를 삭제합니다";
  top: 40px;
  left: -40px;
  width: 140px;
}
#span-rand:hover:before {
  top: 34px;
  left: 50px;
}
#span-rand:hover:after {
  content: "1~100의 무작위 숫자를 생성합니다";
  top: 44px;
  left: -37px;
  width: 140px;
}
#span-del:hover:before {
  top: 34px;
  left: 50px;
}
#span-del:hover:after {
  content: "빙고판을 초기화합니다";
  top: 44px;
  left: -29px;
  width: 124px;
}
.banner-img {
  background:url("../img/img_banners.png") no-repeat;
  display: block;
  width: 620px;
  height: 420px;
}
.banner1 {
}
.banner2 {
  background-position: -620px 0px;
}
.banner3 {
  background-position: -1240px 0px;
}
#slider-wrap ul#slider li>div h3 {
  width: 610px;
  text-align: right;
}
#slider-wrap ul#slider li>div span>span {
  top: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(255, 234, 0, 0.35) 84%, transparent 50%);
}
.modal-footer>.modal-close-btn-disabled {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #adadad;
    border-radius: 4px;
    background-color: #e6e6e6;
    color: #333;
}
.modal-footer>label {
  visibility: hidden;
  position: relative;
  left: -4px;
  top: 28px;
  float: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
.modal-footer>div {
  position: relative;
  top: 10px;
  left: -235px;
  font-family: '돋움', dotum, AppleGothic;
  font-size: 14px;
  font-weight: bold;
}
.modal-footer>label>input {
  position: relative;
  top: 1px;
}
.popup-module-disabled {
    disabled: disabled;
    cursor: default;
}
