@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
@keyframes done {
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
html {
    font-family: BMJUA;
}
body {
  min-width: 550px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 35px;
  font-weight: bold;
}
h3 {
  font-family: BMJUA;
  font-size: 38px;
  padding: .35rem;
  margin: 0;
  border: 0;
  outline: 0;
  background: 0;
}
.bingo {
  width: 500px;
  height: 500px;
  position: relative;
  top: -10px;
  text-align: center;
}
.bingo:after {
  width: 500px;
  height: 500px;
  z-index: -1;
  position: absolute;
  margin-top: 53px;
  left: 0;
  top: 0;
  content: "";
  background: url("https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/91515162_159581078843243_6911703172673143207_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=111&_nc_ohc=RzeqUYM713UAX_NgiDW&oh=e1b2d66395e0193d7d12b7210f0ea64b&oe=5EC40CF0");
  background-size: 500px 500px;
  opacity: 0.5;
}
.bingo.new {
  width: 500px;
  height: 500px;
  position: relative;
  top: -10px;
  text-align: center;
}
.bingo.new:after {
  width: 500px;
  height: 500px;
  z-index: -1;
  position: absolute;
  margin-top: 53px;
  left: 0;
  top: 0;
  content: "";
}
.bingo-table {
  width: 500px;
  height: 500px;
  margin: 0px;
  table-layout: fixed;
  border-spacing: 0px;
  border: 3px solid;
}
.bingo-table tbody {
}
.bingo-table td {
  border: 1px solid #808080;
  min-height: 95px;
  white-space: nowrap;
}
.bingo-number {
  overflow: hidden;
  min-height: 54px;
}
.bingo-table td:hover {
  color: #F588AD;
}
#buttons {
  width: 500px;
  height: 110px;
}
#button-group1 {
  width: 58%;
  height: 80px;
  float: left;
  margin-top: 10px;
}
.blanks {
  padding: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
}
.blanks label {
  line-height: 70px;
}
.blanks span {
  width: 70px;
}
.blanks input[type="radio"] {
  display: none;
}
.blanks input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 2px solid #dfdfdf;    
  padding: 0px 8px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
}
.blanks input[type="radio"]:checked + span {
  border: 3px solid skyblue;
  background: skyblue;
  color: #fff;
}
#blank3 + span {
  position: relative;
  left: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#blank5 + span {
  position: relative;
  right: 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#button-group2 {
  width: 40%;
  float: right;
  margin-top: 10px;
  font-family: 'Single Day', cursive;
  font-size: 30px;
}
.label1 {
  position: relative;
  top: -10px;
}
.label2 {
  position: relative;
  top: -6px;
}
#random-button {
  font-family: 'Single Day', cursive;
  font-size: 20px;
  width: 80px;
  height: 38px;
  position: relative;
  top: -10px;
  font-weight: bold;
  cursor: pointer;
  border: 0.1px solid #AAA;
  background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
#random-button:hover {
  border: 1px solid #2196F3;
  color: #2196F3;
}
#random-button:disabled:hover {
  border: 0.1px solid #AAA;
  color: #6D6D6D;
}
.game-start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
  margin-top: 20px;
  border: 2px solid gray;
  background-color: rgba(0,0,0,0);
  color: gray;
  padding: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 30px;
  cursor: pointer;
}
.game-start:hover {
  color: white;
  border: 2px solid #2196F3;
  background-color: #2196F3;
  font-size: 35px;
}
#score {
  margin-top: 15px;
  font-weight: normal;
}
#start-img {
  position: absolute;
  left: -40px;
  top: 130px;
  display: none;
}
.check-img {
  cursor: pointer;
}
.input-file [type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.input-file .file-label {
  display: inline-block;
  min-width: 53px;
  line-height: 28px;
  padding: 1px 10px;
  border-radius: 6px;
  font-size: 13px;
  background-color: #AAC3DC;
  color: #fff;
  text-align: center;
  cursor: pointer;
 }
.file-label:hover {
  background-color: #2196F3;
}
.buttons-img {
  float: left;
  width: 50%;
}
#share-button {
  min-width: 53px;
  line-height: 28px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 13px;
  font-weight: bold;
  padding: 1px 18px;
  background-color: #AAC3DC;

  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  outline: 0;
}
#share-button:hover {
  background-color: #FF760E;
}
.toast-message {
  font-size: 18px;
}
.toast-title {
  font-size: 22px;
}
[data-tooltip-text]:hover:after {
  min-width: 30px;
  font-size: 12px;
  padding: 2px 8px;
  top: 85%;
  left: -25%;
}
#span-set:hover:before {
  content: "";
  position: absolute;
  top: 67%;
  left: 70%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
.rand-tooltip {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
.rand-tooltip:hover:after {
  content: "중복된 번호를 삭제합니다";
  min-width: 140px;
  font-size: 12px;
  padding: 5px 12px;
  top: 40px;
  left: 0px;
}
.rand-tooltip:hover:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 44px;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
#span-rand:hover:after {
  top: 44px;
  content: "1~100의 무작위 숫자를 생성합니다";
}
#span-rand:hover:before {
  top: 34px;
}
.span-no-triangle:hover:after {
  position: absolute;
  top: 35px;
  padding: 5px 12px;
}
#span-img:hover:after {
  content: "클릭하면 이미지를 변경합니다";
  left: 13px;
  width: 164px;
}
#span-share:hover:after {
  content: "클릭하면 주소를 복사합니다";
  left: -107px;
  width: 152px;
}
